.avia-section.av-6q5gv4-99ddba1b32b26940036cf1ad35b47b62{
background-repeat:no-repeat;
background-image:url(../2022/08/logo2-color_2.png);
background-position:50% 50%;
background-attachment:fixed;
}

#top .av_textblock_section.av-vwbo0-b4035e071ef53599b792b95e48f1f392 .avia_textblock{
color:#ffffff;
}

.avia-section.av-6k4o2w-40a0ad6231381397880ae0494b86a82a{
background-color:#00ffff;
background-image:url(../2022/08/logo2-color_2-wh100-76.png);
background-repeat:no-repeat;
background-position:50% 50%;
background-attachment:fixed;
}
#top .avia-section.av-6k4o2w-40a0ad6231381397880ae0494b86a82a .scroll-down-link{
color:#00ffff;
}

.flex_column.av-11s7r4-ecf1bf655244f7d5ef46eb6f32847a12{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av_textblock_section.av-bhbsg-40dd2232a651f0960ac0942f566e31be .avia_textblock{
color:#000000;
}

#top .hr.hr-invisible.av-rvryo-30c84b54206d8c78eaab173e16135685{
height:50px;
}

.flex_column.av-sa5pk-8d9d6a20336255bf0d1656b6821a76a1{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-nng60-2be7c7e35443408d8f08526a5451d25b{
padding-bottom:20px;
color:#000000;
font-size:40px;
}
body .av-special-heading.av-nng60-2be7c7e35443408d8f08526a5451d25b .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-nng60-2be7c7e35443408d8f08526a5451d25b .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-nng60-2be7c7e35443408d8f08526a5451d25b .special-heading-inner-border{
border-color:#000000;
}
.av-special-heading.av-nng60-2be7c7e35443408d8f08526a5451d25b .av-subheading{
font-size:15px;
}

.avia-section.av-6daw34-5b84d6b8956945fe66f0b9a5785be10b{
background-repeat:no-repeat;
background-image:url(../2022/08/logo2-color_2-wh100-50.png);
background-position:50% 50%;
background-attachment:fixed;
}

.flex_column.av-5wmou0-705f51e2f1e536bddb4909bb5c8dbbec{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-l3kqcdvy-6599a99c9be040060e076c8e3ad1f264 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-lhfiw-748bec890c01463fc1c58b6c6bde1e7b{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av_textblock_section.av-l3kqn3gc-298230adaf6969455ddc30fd6ff6b209 .avia_textblock{
color:#ffffff;
}

#top .hr.hr-invisible.av-gjmag-00e896abb701bb67a52d1b77c502a831{
height:50px;
}

#top .av-special-heading.av-f20i8-02ea9b361bafd0f8a4d9282a51ba8c97{
padding-bottom:20px;
color:#ffffff;
font-size:40px;
}
body .av-special-heading.av-f20i8-02ea9b361bafd0f8a4d9282a51ba8c97 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-f20i8-02ea9b361bafd0f8a4d9282a51ba8c97 .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-f20i8-02ea9b361bafd0f8a4d9282a51ba8c97 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-f20i8-02ea9b361bafd0f8a4d9282a51ba8c97 .av-subheading{
font-size:15px;
}

.avia-section.av-65x4yg-dfb889a9f1ad6b9c0347694ac4534eec{
background-color:#ff1d25;
background-image:url(../2022/08/logo2-color_2-wh100-50.png);
background-repeat:no-repeat;
background-position:50% 50%;
background-attachment:fixed;
}
#top .avia-section.av-65x4yg-dfb889a9f1ad6b9c0347694ac4534eec .scroll-down-link{
color:#dd71ae;
}

.flex_column.av-5l38tc-f2f9331e6b6ad906ceef8ef46c7010d6{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av_textblock_section.av-5dpigg-377818451b1db54643ca239f5e1030fd .avia_textblock{
color:#ffffff;
}

#top .hr.hr-invisible.av-dakk0-af71f4f64ca68c03c5b598ef802e59c8{
height:50px;
}

#top .av-special-heading.av-5qkhw8-695c6a1349796072e2d866edb3fd7d6f{
padding-bottom:20px;
color:#ffffff;
font-size:40px;
}
body .av-special-heading.av-5qkhw8-695c6a1349796072e2d866edb3fd7d6f .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-5qkhw8-695c6a1349796072e2d866edb3fd7d6f .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-5qkhw8-695c6a1349796072e2d866edb3fd7d6f .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-5qkhw8-695c6a1349796072e2d866edb3fd7d6f .av-subheading{
font-size:15px;
}

.flex_column.av-avdo0-24305dedbb187314360c9b688e8fd8e4{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-l3krnxsg-d35f47f12254ad0c6f07f97c270cd9c1 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-section.av-60k00w-631e5fe530b4fa52c1b580f024e60f58{
background-repeat:no-repeat;
background-image:url(../2022/08/logo2-color_2-teal-50.png);
background-position:50% 50%;
background-attachment:fixed;
}

.flex_column.av-3xr0hs-cf4a9d9ec21c9f1930a62e2c9b05bdce{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-3o7v3k-6a520c54dbea5eb6ccb823ea77645307 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-3bh34-35e24553b033d7f326229a2d1f7b915b{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-q90zs-e0e0d8a6af64fe4143b71527d35593ab{
height:50px;
}

#top .av_textblock_section.av-nkca8-55117a25681212f929ca43cca4ab3dd3 .avia_textblock{
color:#ffffff;
}

#top .hr.hr-invisible.av-d5xw0-db1308a024fee6b85a3812256037cabd{
height:50px;
}

#top .av-special-heading.av-807xk-2ba19b1e16643ceca56766232421a17d{
padding-bottom:20px;
color:#ffffff;
font-size:40px;
}
body .av-special-heading.av-807xk-2ba19b1e16643ceca56766232421a17d .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-807xk-2ba19b1e16643ceca56766232421a17d .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-807xk-2ba19b1e16643ceca56766232421a17d .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-807xk-2ba19b1e16643ceca56766232421a17d .av-subheading{
font-size:15px;
}

.avia-section.av-3mw36w-914795f5aba6ed47ec1389cdfc92de8c{
background-color:#754c24;
background-image:url(../2022/08/logo2-color_2-wh100-50.png);
background-repeat:no-repeat;
background-position:50% 50%;
background-attachment:fixed;
}
#top .avia-section.av-3mw36w-914795f5aba6ed47ec1389cdfc92de8c .scroll-down-link{
color:#7bc6c7;
}

.flex_column.av-3dzbco-d0e5594fbee1de029bc5f3f3295a7f61{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av_textblock_section.av-bk5n4-3343979508ecd4079d140b4646053e68 .avia_textblock{
color:#ffffff;
}

#top .hr.hr-invisible.av-31cchs-4952793b13de21998b2517e181104716{
height:50px;
}

#top .av-special-heading.av-2xohkw-e0551250f26faae1c128c5f8e08ceb86{
padding-bottom:20px;
color:#ffffff;
font-size:40px;
}
body .av-special-heading.av-2xohkw-e0551250f26faae1c128c5f8e08ceb86 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-2xohkw-e0551250f26faae1c128c5f8e08ceb86 .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-2xohkw-e0551250f26faae1c128c5f8e08ceb86 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-2xohkw-e0551250f26faae1c128c5f8e08ceb86 .av-subheading{
font-size:15px;
}

.flex_column.av-2qi4nk-415825f5a7f3856aa74be8052a44587a{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-section.av-2sgaw0-721d1945a4db59dfc218c6a20141685e{
background-repeat:no-repeat;
background-image:url(../2022/08/logo2-color_2-red-50.png);
background-position:50% 50%;
background-attachment:fixed;
}

.flex_column.av-ihdv4-defb1f5df686d4c16403fb28ac7f343f{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av_textblock_section.av-3040tc-6db9c3f5af1dde366f820cdab6fdeac7 .avia_textblock{
color:#ffffff;
}

#top .hr.hr-invisible.av-6muxc-22bf64cd1ac848b0aa75b4cbe05128cf{
height:50px;
}

.flex_column.av-1jrukg-ca914c1f6cba1db7ecf8d783c9cff404{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-2le7ig-1e3fb445e18070ae88370123589ea332{
padding-bottom:20px;
font-size:40px;
}
body .av-special-heading.av-2le7ig-1e3fb445e18070ae88370123589ea332 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-2le7ig-1e3fb445e18070ae88370123589ea332 .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-2le7ig-1e3fb445e18070ae88370123589ea332 .av-subheading{
font-size:15px;
}

.avia-section.av-4dpn80-285c344719f25dff6ce4194b60b433d1{
background-color:#ffffff;
background-image:url(../2022/08/logo2-color_2-black-25.png);
background-repeat:no-repeat;
background-position:50% 50%;
background-attachment:fixed;
}
#top .avia-section.av-4dpn80-285c344719f25dff6ce4194b60b433d1 .scroll-down-link{
color:#7bc6c7;
}

.flex_column.av-37267s-b35cbff8b39467d0154a3dde2457e88f{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-2unr88-b0f5b95446b909b548702dbd27a820da{
height:50px;
}

#top .av_textblock_section.av-olp6w-dfd4841e8591f35eb7b121fdbf0e33e8 .avia_textblock{
color:#000000;
}

#top .hr.hr-invisible.av-83v3s-98c527d21efa9efa56018431e27f4566{
height:50px;
}

#top .av-special-heading.av-44g2qg-28f83330eddf1a68d5b8a9005de93adc{
padding-bottom:20px;
color:#000000;
font-size:40px;
}
body .av-special-heading.av-44g2qg-28f83330eddf1a68d5b8a9005de93adc .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-44g2qg-28f83330eddf1a68d5b8a9005de93adc .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-44g2qg-28f83330eddf1a68d5b8a9005de93adc .special-heading-inner-border{
border-color:#000000;
}
.av-special-heading.av-44g2qg-28f83330eddf1a68d5b8a9005de93adc .av-subheading{
font-size:15px;
}

.flex_column.av-3jpp4w-81c6aab363d53cedd9a2b1774d7c9f12{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-l3kvdl36-96fc7eb57e6d1d4cab2ab60bd331df3e .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-section.av-2gnd1s-4e2d7ed5bd4d4660fbcd9dd2535a3838{
background-repeat:no-repeat;
background-image:url(../2022/08/logo2-color_2-wh100-50.png);
background-position:50% 50%;
background-attachment:fixed;
}

.flex_column.av-1pl628-26234df674e1e21e73ef41696ec829ce{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-l3kvluot-1a3f684278886d515eb5296b4a89917d .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-26kskw-d9f509d8df186e679d0e898b09fd24e8{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-1yc740-e2b82211b24af4749ee378cc98dbd4ee{
height:50px;
}

#top .av_textblock_section.av-21m9vs-5b0acb59ba88a5875ffd65ddd8af8699 .avia_textblock{
color:#ffffff;
}

#top .hr.hr-invisible.av-87yhc-99dbe5e29d13e4a93e6b68d218d0ed9a{
height:50px;
}

#top .av-special-heading.av-103jk-1f91764e78285915d414a7e29d66706a{
padding-bottom:20px;
font-size:40px;
}
body .av-special-heading.av-103jk-1f91764e78285915d414a7e29d66706a .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-103jk-1f91764e78285915d414a7e29d66706a .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-103jk-1f91764e78285915d414a7e29d66706a .av-subheading{
font-size:15px;
}

.avia-section.av-1qmfvs-a9e6b9c72e7c6741984106d7b9c118a1{
background-color:#29abe2;
background-image:url(../2022/08/logo2-color_2-teal-50.png);
background-repeat:no-repeat;
background-position:50% 50%;
background-attachment:fixed;
}

#top .av-special-heading.av-1l0kwo-db57fd0ee2b5e110639d72a769de8ad8{
padding-bottom:20px;
font-size:40px;
}
body .av-special-heading.av-1l0kwo-db57fd0ee2b5e110639d72a769de8ad8 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-1l0kwo-db57fd0ee2b5e110639d72a769de8ad8 .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-1l0kwo-db57fd0ee2b5e110639d72a769de8ad8 .av-subheading{
font-size:15px;
}

